<div class="page-header">
<%= link_to new_user_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New User
  <% end %>
<h1>Editing User Location</h1>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user,  class: 'btn btn-primary' %> |
<%= link_to 'Back', users_path, class: 'btn btn-danger' %>
